<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
      <bindings>
          <basicHttpBinding>
              <binding name="chargepointservicesSOAP">
                  <security mode="Transport"/>
              </binding>
              <binding name="chargepointservicesSOAP1"/>
          </basicHttpBinding>
      </bindings>
      <client>
          <endpoint address="https://webservices.chargepoint.com/webservices/chargepoint/services/5.0" binding="basicHttpBinding" bindingConfiguration="chargepointservicesSOAP" contract="ChargePointServiceReference.chargepointservices" name="ChargepointServicesSOAP"/>
      </client>
  </system.serviceModel>
  <configSections>
    <section name="AdWordsApi" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <AdWordsApi>
    <!-- Settings specific to AdWords API.-->
    <add key="UserAgent" value="ChargerID"/>
    <add key="DeveloperToken" value="RJhAsHHNrWZa9exHirjCJg"/>
    <add key="ClientCustomerId" value="584-367-7892"/>

    <!-- OAuth2 configuration -->
    <add key='AuthorizationMethod' value='OAuth2' />
    <add key='OAuth2ClientId' value='1047344885475-cmootpqfml3a94jsmu7vqk06aqubd8r8.apps.googleusercontent.com' />
    <add key='OAuth2ClientSecret' value='lG4Cy8vHOfn2f0AYVblwfH6N' />
    <add key='OAuth2RefreshToken' value='1/tp5M9Pf9e36jMVwUEdqcXubr5MFkCKx4lAOZwIGL1nl44lW8PRZTPEjhhWRj5cnH' />
  </AdWordsApi>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
