<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="chargepointservicesSOAP">
                    <security mode="Transport" />
                </binding>
                <binding name="chargepointservicesSOAP1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://webservices.chargepoint.com/webservices/chargepoint/services/5.0"
                binding="basicHttpBinding" bindingConfiguration="chargepointservicesSOAP"
                contract="ChargePointServiceReference.chargepointservices"
                name="ChargepointServicesSOAP" />
        </client>
    </system.serviceModel>
</configuration>